<header class="header">
  <div class="header-logo">
    <span class="header-logo-title">roo's-mdblogsite.net</span>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-menu">
      {# <li class="header-nav-menu-item"><a href="#home">Home</a></li> #}
      <li class="header-nav-menu-item"><a href="https://www.roosmdblogsite.net/blog_app/blogstop">Blogs</a></li>
      {# <li class="header-nav-menu-item"><a href="#about">About</a></li> #}
      <li class="header-nav-menu-item"><a href="https://github.com/rooreckless/mdblog-flask"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </nav>
</header>