/* apps/blog_app/static/style.css */

body{
  background-color: #222222;
  color: white;
}

table{
  /* テーブル内の枠線を1本線にする */
  border-collapse: collapse;
}
table,th,td{
  border: 1px solid #000000;
}
h1{
  color : green;
}

code {
  color : #999900
}

/* pre {
  border : 1px solid white;

} */

pre > code {
  color : white;
}

h1,h2,h3,h4,h5{
  /* border-bottom:2px solid #555555; */
  border:3px solid #555555;
}

a {
  color : #6666ff
}

/*-----------------*/


pre {
  line-height: 125%; 
}
td.linenos,
td.code{
  border :1px solid white;
}
div.codehilite{
  width: fit-content;
}
blockquote{
  border :1px dashed white ;
}
/*-----------*/
