<footer id="contact" class="footer">
  <div class="container footer-container">
    {#
    <div class="footer-form">
      <p>お仕事のご依頼やご相談など、お問い合わせはこちらからどうぞ。</p>
      <form name="contact-form" action="" method="POST">
        <div class="footer-form-input">
          <i class="fa-regular fa-user"></i><input type="text" name="name" placeholder="氏名">
        </div>
        <div class="footer-form-input">
          <i class="fa-regular fa-envelope"></i><input type="text" name="email" placeholder="メールアドレス">
        </div>
        <div class="footer-form-textarea">
          <textarea placeholder="お問い合わせ内容"></textarea>
        </div>
        <input type="submit" class="button-primary" value="送信する">
      </form>
    </div>
    #}
    <div class="footer-info">
      <div class="footer-info-nav">
        <nav class="footer-info-nav-menu">
          <ul>
            {# <li><a href="#home">Home</a></li> #}
            <li><a href="https://www.roosmdblogsite.net/blog_app/blogstop">Blogs</a></li>
            {# <li><a href="#about">About</a></li> #}
          </ul>
        </nav>
      </div>
      <div class="footer-info-follow">
        <ul class="socilal-links">
          <li><a href="" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </div>
      <p class="footer-info-copy">
        <small>© 2023 Mamoru Adachi. All Rights Reserved.</small>
      </p>
    </div>
  </div>
</footer>